<!DOCTYPE html>
<html>
<body>

<h2>Update Profile</h2>

<form>
  <label for="fname">First Name:</label><br>
  <input type="text" id="fname" name="fname" placeholder="First Name"><br>
  <label for="fname">Last Name:</label><br>
  <input type="text" id="fname" name="lname" placeholder="Last Name"><br>
  <label for="fname">Username:</label><br>
  <input type="text" id="fname" name="username" placeholder="Userame"><br>
  <label for="fname">Email:</label><br>
  <input type="text" id="fname" name="email" placeholder="Email Address"><br>
  <label for="fname">Password:</label><br>
  <input type="text" id="fname" name="pass" placeholder="Password"><br>
</form>
<div>
    <button id="edit-profile" type="submit" routerLink="/homepage" routerLinkActive="active">Update Profile</button>
</div>

</body>
</html>
