<!DOCTYPE html>
<html>
    <body>
        <h2>
            Welcome to your Moviemark account
        </h2>
        <div>
            <button id="edit-profile" type="submit" routerLink="/edit-profile" routerLinkActive="active">Edit Profile</button>
        </div>
        <div>
            <p>Scan to earn points</p>
            <a rel='nofollow' href='https://www.qr-code-generator.com' border='0' style='cursor:default'><img src='https://chart.googleapis.com/chart?cht=qr&chl=Scan%20to%20earn%20points&chs=180x180&choe=UTF-8&chld=L|2' alt=''></a>
        </div>
    </body>
</html>