<!DOCTYPE html>
<html>
    <head>
        <title>Log in</title>
    </head>
    <body>
        <header>
            <h1>
            <img src = "../../assets/lock.png">
            </h1>
        </header>
        <h2>Log in</h2>
         <div class="container">
                <div id="user">
                    <input type="text" name="username" placeholder="Username" required><br>
                </div>
                <div id="pass">
                    <input type="password" name="username" placeholder="Password" required><br>
                </div>
                <div id="end">
                    <button id="login" type="submit" routerLink="/homepage" routerLinkActive="active">Login</button>
                    <button id="register" type="signup" routerLink="/register" routerLinkActive="active">Register</button>
                </div>
        </div> 
    </body>
</html>

